@model DevSlop.Models.Home.ScheduleViewModel

@{
    ViewData["Title"] = "Schedule";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">OWASP DevSlop Speaking and Teaching Schedule</div>
            <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>

<h4>Current Events</h4>

<div class="row">
    <table border=".5" width="100%">
        <tr height="30">
            <td align="center">
                <strong>What</strong>
            </td>
            <td align="center">
                <strong>When</strong>
            </td>
            <td align="center">
                <strong>Where</strong>
            </td>
            <td align="center">
                <strong>Who</strong>
            </td>
            <td align="center">
                <strong>Description</strong>
            </td>

        </tr>


        @foreach (var schedule in Model.CurrentScheduleList)
        {
            <tr>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.What</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhenUrl">@schedule.When.ToString("d")</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhereUrl">@schedule.Where</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhoUrl">@schedule.Who</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.Description</a>
                </td>

            </tr>

        }

    </table>
</div>

<br />
<br />

<h4>Past Events</h4>

<div class="row">
    <table border=".5" width="100%">
        <tr height="30">
            <td align="center">
                <strong>What</strong>
            </td>
            <td align="center">
                <strong>When</strong>
            </td>
            <td align="center">
                <strong>Where</strong>
            </td>
            <td align="center">
                <strong>Who</strong>
            </td>
            <td align="center">
                <strong>Description</strong>
            </td>

        </tr>

        @foreach (var schedule in Model.PastScheduleList)
        {
            <tr>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.What</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhenUrl">@schedule.When.ToString("d")</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhereUrl">@schedule.Where</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhoUrl">@schedule.Who</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.Description</a>
                </td>

            </tr>

        }

    </table>

</div>
